/* 查看图标: https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=1815524 */

@font-face {
  font-family: ssps;
  src: url('~@/scss/font/iconfont.eot');
  src: url('~@/scss/font/iconfont.eot?#iefix') format('embedded-opentype'), url('~@/scss/font/iconfont.woff2') format('woff2'), url('~@/scss/font/iconfont.woff') format('woff'), url('~@/scss/font/iconfont.ttf') format('truetype'), url('~@/scss/font/iconfont.svg#iconfont') format('svg');
}

[class*='i-'] {
  display: inline-block;
  font-family: ssps;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-caigouxiadan::before {
  content: '\e68f';
}

.i-daiquerenxitongzichanzongshu::before {
  content: '\e69a';
}

.i-daiquerenfuwuqizichanzongshu::before {
  content: '\e698';
}

.i-fuwuqizichanzongshu::before {
  content: '\e699';
}

.i-xitongzichan2::before {
  content: '\e697';
}

.i-queren::before {
  content: '\e696';
}

.i-guanlianyonghu1::before {
  content: '\e695';
}

.i-fanghuoqiang2::before {
  content: '\e694';
}

.i-loudongrenwuguanli::before {
  content: '\e693';
}

.i-zanwushuju2::before {
  content: '\e692';
}

.i-gaojing::before {
  content: '\e691';
}

.i-next::before {
  content: '\e68d';
}

.i-last::before {
  content: '\e68e';
}

.i-dingdanjine::before {
  content: '\e68b';
}

.i-daichuligongdan::before {
  content: '\e68c';
}

.i-xiazaiwancheng::before {
  content: '\e686';
}

.i-zantingxiazai::before {
  content: '\e687';
}

.i-quxiaoxiazai::before {
  content: '\e688';
}

.i-xiazai::before {
  content: '\e689';
}

.i-jixuxiazai::before {
  content: '\e68a';
}

.i-excelwendang::before {
  content: '\e67f';
}

.i-Zipwendang::before {
  content: '\e680';
}

.i-DOCwendang::before {
  content: '\e681';
}

.i-pngwendang::before {
  content: '\e682';
}

.i-mp4wendang::before {
  content: '\e683';
}

.i-JPGwendang::before {
  content: '\e684';
}

.i-PDFwendang::before {
  content: '\e685';
}

.i-daizhifudingdan::before {
  content: '\e67e';
}

.i-yicaigoudedingdan::before {
  content: '\e67d';
}

.i-anquanzhishiku::before {
  content: '\e67c';
}

.i-anquanfuwuguanli::before {
  content: '\e66b';
}

.i-anquanshebei::before {
  content: '\e66c';
}

.i-xuqiudanguanli::before {
  content: '\e66d';
}

.i-anquanzhongduanguanli::before {
  content: '\e678';
}

.i-bumenguanli::before {
  content: '\e679';
}

.i-zichanguanli::before {
  content: '\e67a';
}

.i-anquanbaobiao::before {
  content: '\e67b';
}

.i-menu-anquanyunwei::before {
  content: '\e65c';
}

.i-menu-fuwuguanli::before {
  content: '\e65d';
}

.i-menu-anquanfuwushangcheng::before {
  content: '\e65e';
}

.i-menu-fuwufenxi::before {
  content: '\e65f';
}

.i-menu-gailan1::before {
  content: '\e660';
}

.i-menu-gongzuoxiezuo::before {
  content: '\e661';
}

.i-menu-anquanguanli::before {
  content: '\e662';
}

.i-menu-anquanzhongxin::before {
  content: '\e663';
}

.i-menu-renyuanguanli::before {
  content: '\e664';
}

.i-menu-shujuyubaobiao::before {
  content: '\e665';
}

.i-menu-pingtaixiangguan::before {
  content: '\e666';
}

.i-menu-shujuyurizhi::before {
  content: '\e667';
}

.i-menu-yewuxiangguan::before {
  content: '\e668';
}

.i-menu-xitongxiangguan::before {
  content: '\e669';
}

.i-menu-gaojigongneng::before {
  content: '\e66a';
}

.i-Windowszhongduan::before {
  content: '\e66e';
}

.i-linuxzhongduan::before {
  content: '\e66f';
}

.i-diyugongjicishu::before {
  content: '\e670';
}

.i-jinridiyugongjicishu::before {
  content: '\e671';
}

.i-cunzailoudongdezichan::before {
  content: '\e672';
}

.i-jinrigaojing::before {
  content: '\e673';
}

.i-weixiufuloudong::before {
  content: '\e674';
}

.i-zaiguanzhongduan::before {
  content: '\e675';
}

.i-zaixian-lixianzhongduan::before {
  content: '\e676';
}

.i-daichuligaojing::before {
  content: '\e677';
}

.i-cunzailoudongdefuwuqi::before {
  content: '\e656';
}

.i-anquangaojing::before {
  content: '\e657';
}

.i-loudongzongshu::before {
  content: '\e658';
}

.i-cunzaigaojingdefuwuqi::before {
  content: '\e659';
}

.i-wenjianfangcuangai::before {
  content: '\e65a';
}

.i-jianjie::before {
  content: '\e655';
}

.i-fuwuyoushi2::before {
  content: '\e653';
}

.i-fuwuyoushi3::before {
  content: '\e654';
}

.i-quantuoguan::before {
  content: '\e652';
}

.i-tongcaichanpin1::before {
  content: '\e650';
}

.i-ziyingchanpin1::before {
  content: '\e651';
}

.i-gouwuche1::before {
  content: '\e64f';
}

.i-fanghuoqiang::before {
  content: '\e64e';
}

.i-ziyingchanpin::before {
  content: '\e64c';
}

.i-tongcaichanpin::before {
  content: '\e64d';
}

.i-jiantoua::before {
  content: '\e64b';
}

.i-youxiang::before {
  content: '\e648';
}

.i-shuomingshu::before {
  content: '\e649';
}

.i-dianhua::before {
  content: '\e64a';
}

.i-paixujiantoushang::before {
  content: '\e74c';
}

.i-paixujiantouxia::before {
  content: '\e74d';
}

.i-morentouxiang::before {
  content: '\e646';
}

.i-morentouxianglanse::before {
  content: '\e6f0';
}

.i-zhuxiao::before {
  content: '\e645';
}

.i-cuiban::before {
  content: '\e644';
}

.i-footer2::before {
  content: '\e640';
}

.i-footer1::before {
  content: '\e641';
}

.i-footer3::before {
  content: '\e642';
}

.i-footer4::before {
  content: '\e643';
}

.i-kefu::before {
  content: '\e63f';
}

.i-zanwushuju1::before {
  content: '\e63e';
}

.i-shangsheng::before {
  content: '\e719';
}

.i-qitachanpin::before {
  content: '\e639';
}

.i-yingyonganquan::before {
  content: '\e63a';
}

.i-wangluoanquan::before {
  content: '\e63b';
}

.i-zhongduananquan::before {
  content: '\e63c';
}

.i-saomiao::before {
  content: '\e637';
}

.i-chakanjieguo::before {
  content: '\e638';
}

.i-shoucang1::before {
  content: '\e636';
}

.i-shoucang::before {
  content: '\e647';
}

.i-shangchuan::before {
  content: '\e63d';
}

.i-fenpeifuzeren::before {
  content: '\e635';
}

.i-zaicitijiao::before {
  content: '\e634';
}

.i-zhuyi-pingfenkanban::before {
  content: '\e62d';
}

.i-caidan::before {
  content: '\e633';
}

.i-shibai::before {
  content: '\e628';
}

.i-quanxianpeizhi::before {
  content: '\e632';
}

.i-tingyong::before {
  content: '\e618';
}

.i-jujue::before {
  content: '\e631';
}

.i-tongguo::before {
  content: '\e62e';
}

.i-jiaqian::before {
  content: '\e62f';
}

.i-zhuanqian::before {
  content: '\e630';
}

.i-tupian::before {
  content: '\e62c';
}

.i-chehui1::before {
  content: '\e6dc';
}

.i-mimazhongzhi::before {
  content: '\e62a';
}

.i-tianjia1::before {
  content: '\e61e';
}

.i-jiancha-copy::before {
  content: '\e62b';
}

.i-xinjian1::before {
  content: '\e629';
}

.i-jiantou::before {
  content: '\e611';
}

.i-gouxuan::before {
  content: '\e622';
}

.i-yidaoqi::before {
  content: '\e623';
}

.i-kaitongzhong::before {
  content: '\e624';
}

.i-yishengxiao::before {
  content: '\e627';
}

.i-chakan::before {
  content: '\e625';
}

.i-riqi::before {
  content: '\e626';
}

.i-zanwushuju::before {
  content: '\e621';
}

.i-tongyi::before {
  content: '\e61f';
}

.i-shenpizhong::before {
  content: '\e620';
}

.i-wode::before {
  content: '\e61c';
}

.i-mima::before {
  content: '\e61d';
}

.i-paixu::before {
  content: '\e615';
}

.i-shijian::before {
  content: '\e61a';
}

.i-rukujilu::before {
  content: '\e61b';
}

.i-xiajia::before {
  content: '\e612';
}

.i-shangjia::before {
  content: '\e614';
}

.i-chehui::before {
  content: '\e617';
}

.i-shanchu1::before {
  content: '\e619';
}

.i-xiala::before {
  content: '\e613';
}

.i-fangzicopy::before {
  content: '\e60e';
}

.i-bangzhu::before {
  content: '\e60f';
}

.i-xiaoxi2::before {
  content: '\e610';
}

.i-bianji::before {
  content: '\e60d';
}

.i-gouwuche::before {
  content: '\e60c';
}

.i-zhuyi::before {
  content: '\e60a';
}

.i-guanbi::before {
  content: '\e60b';
}

.i-jianshao::before {
  content: '\e601';
}

.i-pinglun::before {
  content: '\e603';
}

.i-shuoming::before {
  content: '\e604';
}

.i-sousuo::before {
  content: '\e605';
}

.i-tianjia::before {
  content: '\e606';
}

.i-danxuan::before {
  content: '\e607';
}

.i-fanhui::before {
  content: '\e608';
}

.i-zan::before {
  content: '\e609';
}

.i-shangbaoanquanshijianzongshu::before {
  content: '\e6a5';
}

.i-jinjianquanshijianshu::before {
  content: '\e6ab';
}

.i-chulizhonganquanshijian::before {
  content: '\e6ad';
}

.i-pingjunchuzhishijian::before {
  content: '\e6a6';
}

.i-jinrishangbaoanquanshijian::before {
  content: '\e6a4';
}

.i-zhujizongshu::before {
  content: '\e6af';
}

.i-xitongzongshu::before {
  content: '\e6ae';
}

.i-fuwuqi::before {
  content: '\e6b4';
}

.i-anquanchanpin::before {
  content: '\e6b2';
}

.i-jisuanjizhongduan::before {
  content: '\e6b3';
}

.i-bangongwaishe::before {
  content: '\e6b1';
}

.i-daichulirenwu::before {
  content: '\e6a1';
}

.i-weifankuiwanchengdetongbao::before {
  content: '\e6b0';
}

.i-chulizhongdeanquanshijian::before {
  content: '\e6bf';
}

.i-weiwanchengtongbao::before {
  content: '\e6c1';
}

.i-weichulianquanshijian::before {
  content: '\e6a7';
}

.i-daixunjiananquanshebei::before {
  content: '\e6c0';
}

.i-daixunjianzichan::before {
  content: '\e6bd';
}

.i-gonggao::before {
  content: '\e6a9';
}

.i-daichulianquanshijianshu::before {
  content: '\e6ab';
}

.i-chuzhishuai::before {
  content: '\e65f';
}

.i-checkbox-circle-fill1::before {
  content: '\e6c5';
}

.i-gengduo::before {
  content: '\e6da';
}

.i-zuzhijiagou::before {
  content: '\e6e2';
}

.i-gengduocaozuo::before {
  content: '\e6e3';
}

.i-zichanbaobiao::before {
  content: '\e6e4';
}

.i-liucheng::before {
  content: '\e6e5';
}

.i-zu94::before {
  content: '\e6e6';
}

.i-gailan::before {
  content: '\e6e7';
}

.i-zichanzongshu::before {
  content: '\e6e9';
}

.i-anquanzichanzongshu::before {
  content: '\e6bd';
}

.i-qitazichan::before {
  content: '\e6e8';
}

.i-xinzengzichan::before {
  content: '\e6ec';
}

.i-jin30tianbiangengzichan::before {
  content: '\e6eb';
}

.i-jinqitianbiangengzichan::before {
  content: '\e6ea';
}

.i-yewuxitong::before {
  content: '\e723';
}

.i-zuzhijigouguanli::before {
  content: '\e6c4';
}

.i-jinrixinzengzichanshu::before {
  content: '\e71f';
}

.i-jinribiangengzichanshu::before {
  content: '\e71e';
}

.i-7rixinzengzichanshu::before {
  content: '\e720';
}

.i-7ribiangengzichanshu::before {
  content: '\e71d';
}
